<main>
    <header class="site-header">
    <div class="container header__inner">
      <a class="logo" href="/">SMYSL</a>

      <nav class="topnav" aria-label="Основная навигация">
        <a class="topnav__link" href="/">Главная</a>
        <a class="topnav__link" href="/articles">Статьи</a>
        <a class="topnav__link" href="/cases">Кейсы</a>
        <a class="topnav__link" href="/process">Процесс и батлы</a>
        <a class="topnav__link" href="/about">О нас</a>
      </nav>
    </div>
  </header>

</main>